*{
    padding: 0;
    margin: 0;
    color: white;
}

.circle{
    width: 100px;
    height: 100px;
    background-color: green;
    border-radius: 50%;
}

.traffic-light{
    margin-left: 100px;
    width: 150px;
    height: 400px;
    border: 2px solid black;
    border-radius: 30%;
    background-color: antiquewhite;
}

.red{
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
    border: solid;
    margin-left: 22px;
    margin-top: 20px;
    text-align: center;
}
.green{
    width: 100px;
    height: 100px;
    background-color: green;
    border-radius: 50%;
    border: solid;
    margin-left: 22px;
    margin-top: 20px;
    text-align: center;
}
.yellow{
    width: 100px;
    height: 100px;
    background-color: yellow;
    border-radius: 50%;
    border: solid;
    margin-left: 22px;
    margin-top: 20px;
    text-align: center;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
}
button{
    background-color: #f08804;
}

#logo{
    color: #f08804;
    font-size: 25px;
}
a{
    margin-right: 70px;
    text-decoration: none;
}
